.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  inline-size: 100%;
  padding: 24px;
  text-align: start;
  background-color: rgb(255 255 255 / 10%);
  border: none;
  border: 2px solid rgb(255 255 255 / 40%);
  border-radius: 16px;
  box-shadow: 0 0 24px 2px rgb(255 255 255 / 40%),
    0 16px 32px rgb(0 0 0 / 12%);
  backdrop-filter: blur(8px) saturate(180%);

  &:hover {
    cursor: pointer;
  }
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: rgb(0 0 0 / 85%);
  font-size: 32px;
}

.image {
  inline-size: 32px;
  block-size: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text {
  color: rgb(0 0 0 / 50%);
  font-size: 16px;
}

.description_container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.description {
  font-weight: 700;
  font-size: 18px;
}
