.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 8px 32px rgba(234, 219, 250, 0.6),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
  color: #191918;
  text-align: start;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  inline-size: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);

  &:hover {
    cursor: pointer;
  }
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 32px;
}

.image {
  inline-size: 32px;
  block-size: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.price_container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.price {
  font-weight: 700;
  font-size: 18px;
}