.modal {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 0 24px 2px rgba(255, 255, 255, 0.4),
    0 16px 32px rgba(0, 0, 0, 0.12);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px) saturate(180%);
  inline-size: 100%;
}

.image {
  user-select: none;
  inline-size: 64px;
  block-size: 64px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  user-select: none;
}

.text {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  user-select: none;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  inline-size: 100%;
  block-size: 100%;
}