.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.title {
  margin: 0;
  color: rgb(0 0 0 / 85%);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  
}

.text {
  color: rgb(0 0 0 / 50%);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}