.page {
  width: 390px;
  height: 100dvh;
  font-family: 'Inter';
  background-color: #ffffff;
  transition: all ease-in-out;
}

.container {
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  justify-content: start;
  height: 100dvh;
  padding: 60px 30px;
  scroll-snap-align: start;
}

.first {
  flex-direction: column;
  color: #333333;
  font-weight: 700;
  font-size: 48px;
  background-image: url(../images/first_background.png);
  background-size: cover;
}

.first p {
  animation: textAppear 0.6s ease-in-out;
}

@keyframes textAppear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
  }
}

.advice {
  z-index: 2;
  padding-top: 30px;
  font-size: 32px;
  animation: textAppear 1s ease-in-out;
}

.image {
  width: 32px;
  height: 32px;
  margin-inline-start: 8px;
  transform-origin: 70% 100%;
  animation-name: handshake;
  animation-delay: 14s;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes handshake {
	from {
		transform: rotate(0);
	}

  10% {
    transform: rotate(30deg);
  }

  20% {
    transform: rotate(0);
  }

  30% {
    transform: rotate(30deg);
  }

	40% {
		transform: rotate(0);
	}

	to {
		transform: rotate(0);
	}
}

.blue_baloon {
  position: relative;
  top: -55%;
  left: 55%;
  transform: rotateZ(12deg);
  animation: blue_baloon_fadeIn 2s ease-in-out;
  scale: 0.6;
}

@keyframes blue_baloon_fadeIn {
  from {
    opacity: 0;
    transform: translateX(200px) translateY(50px);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.red_baloon {
  position: relative;
  top: -63%;
  left: -40%;
  z-index: 1;
  transform: rotateZ(-12deg);
  animation: red_baloon_fadeIn 3s ease-in-out;
  scale: 1.2;
}

@keyframes red_baloon_fadeIn {
  from {
    transform: translateX(-200px) translateY(50px);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.purple_baloon {
  position: relative;
  top: -48%;
  left: 40%;
  z-index: 1;
  transform: rotateZ(8deg);
  animation: purple_baloon_fadeIn 4s ease-in-out;
  scale: 2;
}

@keyframes purple_baloon_fadeIn {
  from {
    opacity: 0;
    transform: translateX(200px) translateY(50px);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.second {
  flex-direction: column;
  gap: 30px;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  background-image: url(../images/second_background.png);
  background-size: cover;
}

.second_section-title {
  z-index: 2;
  font-weight: 700;
  font-size: 48px;
}

.second p {
  z-index: 2;
  animation: text_move 2s forwards;
  animation-timeline: scroll();
}

@keyframes text_move {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.emoji {
  display: flex;
  align-items: center;
  gap: 16px;
}

.image_second {
  width: 32px;
  height: 32px;
  margin-inline-start: 8px;
}

.plane {
  position: relative;
  top: -28%;
  left: 100%;
  animation: plane 120s;
  scale: 0.2;
}

@keyframes plane {
  from {
    transform: translateX(1000px);

  }

  to {
    transform: translateX(-3000px);
  }
}

.boats {
  display: flex;
  justify-content: center;
}

.boat {
  position: relative;
  top: -100%;
  align-self: center;
  width: 48px;
  height: 48px;
  animation: boat 30s infinite linear;
  scale: 0.9;
}

@keyframes boat {
	from {
		transform: translateX(250px);
	}

  25% {
    transform: translateX(-250px) translateY(50px) scale(1.2);
  }

  50% {
    transform: translateX(-250px) translateY(50px) rotateY(180deg) scale(1.2);
  }

  75% {
    transform: translateX(250px) translateY(80px) rotateY(180deg) scale(1.4);
  }

  to {
    transform: translateX(250px);
  }
}

.third {
  position: relative;
  flex-direction: column;
  gap: 30px;
  color: #d1191b;
  font-weight: 400;
  font-size: 18px;
  background-image: url(../images/third_background.png);
  background-size: cover;
}