.page {
  width: 390px;
  height: 100dvh;
  font-family: 'Inter';
}

.container {
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  justify-content: start;
  height: 100dvh;
  padding: 60px 30px;
  scroll-snap-align: start;
}

.first {
  flex-direction: column;
  color: #333333;
  font-weight: 700;
  font-size: 48px;
  background-image: url(../images/first_background.png);
  background-size: cover;
}

.advice {
  padding-top: 30px;
  font-size: 32px;
}

.image {
  width: 32px;
  height: 32px;
  margin-inline-start: 8px;
  animation-name: handshake;
  animation-delay: 15s;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
}

@keyframes handshake {
	from {
		transform: rotate(0);
	}

	50% {
		transform: rotate(24deg);
	}

	to {
		transform: rotate(0);
	}
}

.blue_baloon {
  position: relative;
  top: -55%;
  left: 50%;
  transform: rotateZ(12deg);
  scale: 0.6;
}

.red_baloon {
  position: relative;
  top: -50%;
  left: -40%;
  transform: rotateZ(-12deg);
  scale: 1.2;
}

.purple_baloon {
  position: relative;
  top: -45%;
  left: 40%;
  transform: rotateZ(8deg);
  scale: 2;
  z-index: 1;
}

.second {
  flex-direction: column;
  gap: 30px;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  background-image: url(../images/second_background.png);
  background-size: cover;
}

.second_section-title {
  font-weight: 700;
  font-size: 48px;
  z-index: 2;
}

.second p {
  z-index: 2;
}

.emoji {
  display: flex;
  align-items: center;
  gap: 16px;
}

.image_second {
  width: 32px;
  height: 32px;
  margin-inline-start: 8px;
}

.boats {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.boat {
  align-self: center;
  width: 48px;
  height: 48px;
  animation: boat 30s infinite ease-in-out;
  scale: 0.9;
}

@keyframes boat {
	from {
		transform: translateX(250px);
	}

  25% {
    transform: translateX(-250px) translateY(50px) scale(1.2);
  }

  50% {
    transform: translateX(-250px) translateY(50px) rotateY(180deg) scale(1.2);
  }

  75% {
    transform: translateX(250px) translateY(100px) rotateY(180deg) scale(1.4);
  }

  to {
    transform: translateX(250px);
  }
}

.third {
  flex-direction: column;
  gap: 30px;
  color: #d1191b;
  font-weight: 400;
  font-size: 18px;
  background-image: url(../images/third_background.png);
  background-size: cover;
}