.page {
  width: 390px;
  height: 100dvh;
  font-family: 'Inter';
}

.container {
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  justify-content: start;
  height: 100dvh;
  padding: 60px 30px;
  scroll-snap-align: start;
}

.first {
  display: flex;
  flex-direction: column;
  color: #333333;
  font-weight: 700;
  font-size: 48px;
  background-image: url(../images/first_background.png);
  background-size: cover;
}

.advice {
  padding-top: 30px;
  font-size: 32px;
}

.image {
  width: 32px;
  height: 32px;
  margin-inline-start: 8px;
  animation-name: handshake;
  animation-delay: 13s;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes handshake {
	from {
		transform: rotate(0);
	}

	50% {
		transform: rotate(24deg);
	}

	to {
		transform: rotate(0);
	}
}

.firework_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.firework {
  position: relative;
}

.explosion {
  position: absolute;
  bottom: 0;
  left: -2px;
  width: 4px;
  height: 80px;
  transform-origin: 50% 100%;
  /* background-color: rgba(51, 51, 51, .2); */
  overflow: hidden;
}

.explosion:nth-child(1) {
  transform: rotate(0deg) translateY(-15px);
}

.explosion:nth-child(2) {
  transform: rotate(30deg) translateY(-15px);
}

.explosion:nth-child(3) {
  transform: rotate(60deg) translateY(-15px);
}

.explosion:nth-child(4) {
  transform: rotate(90deg) translateY(-15px);
}

.explosion:nth-child(5) {
  transform: rotate(120deg) translateY(-15px);
}

.explosion:nth-child(6) {
  transform: rotate(150deg) translateY(-15px);
}

.explosion:nth-child(7) {
  transform: rotate(180deg) translateY(-15px);
}

.explosion:nth-child(8) {
  transform: rotate(210deg) translateY(-15px);
}

.explosion:nth-child(9) {
  transform: rotate(240deg) translateY(-15px);
}

.explosion:nth-child(10) {
  transform: rotate(270deg) translateY(-15px);
}

.explosion:nth-child(11) {
  transform: rotate(300deg) translateY(-15px);
}

.explosion:nth-child(12) {
  transform: rotate(330deg) translateY(-15px);
}

.explosion::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 40px;
  background: #ee3033;
  animation: explosion 2.5s ease-in-out infinite;
}

@keyframes explosion {
  from {
    top: 100%;
  }

  33%, to {
    top: -50%;
  }
}

#firework_one {
  top: 35%;
  left: 45%;
}

#firework_two {
  top: 20%;
  left: 20%;
}

#firework_three {
  top: 60%;
  left: 10%;
}

.second {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  background-image: url(../images/second_background.png);
  background-size: cover;
}

.second_section-title {
  font-weight: 700;
  font-size: 48px;
}

.emoji {
  display: flex;
  align-items: center;
  gap: 16px;
}

.image_second {
  width: 32px;
  height: 32px;
  margin-inline-start: 8px;
}

.boats {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.wave {
  align-self: flex-end;
  width: 24px;
  height: 24px;
  animation: wave 8s infinite ease-in-out;
}

@keyframes wave {
	from {
    opacity: 0;
		transform: translateX(-150px) scale(0.5);
	}

  50% {
    opacity: 1;
  }

	to {
    opacity: 0;
		transform: translateX(195px) scale(0.8);
	}
}

.boat {
  align-self: center;
  width: 48px;
  height: 48px;
  animation: boat 1s infinite ease-in-out;
}

@keyframes boat {
	from {
		transform: rotate(0) translateY(0);
	}

	50% {
		transform: rotate(6deg) translateY(-5px);
	}

	to {
		transform: rotate(0) translateY(0);
	}
}

.water_text {
  color: #ffffff;
}

.third {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  background-image: url(../images/third_background.png);
  background-size: cover;
}

.wave_two {
  position: relative;
  align-self: center;
  width: 390px;
  opacity: 0;
  animation: wave_vertical 10s infinite ease-in-out;
}

.wave_two:nth-child(2) {
  animation-delay: 6s;
  inset-block-start: -100px;
}

@keyframes wave_vertical {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  50% {
    opacity: 1;
    transform: translateY(45px);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}